@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  font-family: 'Pathway Extreme', sans-serif;
} 

html {background-color: #fffef2;}

@media(max-width:  40em){
  .kitchcode{
    padding-top: 15%;
  }
}


.home{
display: flex;
flex-direction: column;
}

.card{
 &:hover{
  cursor: pointer;
 }
}


.fa-brands{
  color:#aa1334e5;

  &:hover{
    color: rgba(164, 23, 54, 0.391);

  }
}

.login{
  text-align: center;
  padding: 10%;
}

.login input{
  display: flex;
  margin: auto;
  padding: 5px;
}

.blog_post{
  text-align: center;
  padding: 10%;

}

.lrg_input{
  margin: auto;
  width: 300px;
  height: 150px;
  display: flex;
  text-align: center;
}

.short_input{
  margin: auto;
  padding: 5px;
}

/* Subscribe Page */

.subscribe input{
  display: flex;
  margin: auto;
  padding: 3px;
}

.submit_subscription{
  display: flex;
  margin: auto;
  background-color: #afb7b538;
  padding: 3px;
  border: none;
  border-radius: 3px
}
.submit_subscription:hover{
  background-color: #2dba9bb0;
  color: white;
}

.sub_text{
  display: block;
  margin: auto;
}

.subscription{
  padding-top: 10%;
  padding-bottom: 10%;
}

.about a{
  text-decoration: none;
  color: #333333;
  padding: 3px;
  font-size: 14px;
}

.about a:hover{
  color: white;
  font-weight: 600;
}

.about button{
  background-color: #afb7b538;
  padding: 3px;
  border: none;
  border-radius: 3px;
}

.about button:hover{
  background-color: #960e1eb0;
}


.feature{
max-width: 60%;
padding-top: 2%;
padding-bottom: 2%;
}

.feature_image{
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.blogLayContainer{
  padding-top: 10%;
  padding: 10%;
  padding-bottom: 7%;
  margin: auto;
  max-width: 1000px;
}

.like_this_post{
  text-align: center;
}

.like_btn{
  background-color: #fffef2;
  border: none;
  border-radius: 50%;
  padding: 6px; 
}

.like_btn:hover{
  cursor: pointer;
  font-size: 16px;
}

.fa-heart{
  color: red;
}

.fa-heart:hover{
  cursor: pointer;
  color: pink;
}




