
ul {
  display: flex;
  justify-content: right;
  padding-right: 50px;
  gap: 25px;
  align-items: center;
}

li {
  margin-top: 15px;
  display: inline;
  list-style: none;

}

.logo {
max-width: 390px;
}
  
  /* position: relative, left 200px; */



/* .houseIcon {
  max-width: 5%;
}

.quill {
  max-width: 5%;

}  */


/* .blogContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .projcard {
  position: relative;
  width: 70%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
} */

/* .projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
} */

/* .projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
} */

/* .projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
} */
