@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  font-family: 'Pathway Extreme', sans-serif;
} 

html { margin-top: 30px;}

.fa-brands{
  color:#aa1334e5;

  &:hover{
    color: rgba(164, 23, 54, 0.391);

  }
};

.card{
 &:hover{
  cursor: pointer;
 }
};

.like_btn{
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 6px; 
}

.like_btn:hover{
  cursor: pointer;
  font-size: 16px;
}

.fa-heart{
  color: red;
}

.fa-heart:hover{
  cursor: pointer;
  color: pink;
}


